.banner{
    position: absolute;
    background-image: url('../../assets/images/Banner.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.header{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(27,27,27,0.01) 100%); 
    height: 550px;
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
    color: #FFF;
    padding: 0 133px;
}

.header_number{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background-color: #FF0000;
    font-size: 2.5rem;
    padding: 0 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.header_number__icon{
    /* font-size: 6rem; */
    width: 51px;
    height: 51px;
}

.header_number span{
    display: block;
    font-weight: bold;
    /* padding: 10px 0; */
}

.header_address{
    font-size: 1.9rem;
    line-height: 66px;
    margin-top: 14px;
    margin-right: 77px;
}

.header_line{
    position: absolute;
    top: 80px;
    right: 133px;
    left: 133px;
    height: 1px;
    background-color: #515151;
}

.navbar{
    position: absolute;
    top: 100px;
    left: 133px;
    right: 509px;
    font-size: 2.5rem;
}

.navbar ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    list-style: none;
}

.navbar li{
    border-right: 1px solid #FFF;
    padding-right: 65px;
}

.navbar li:last-child{
    border: 0;
}

.header_line__two{
    position: absolute;
    top: 250px;
    left: 158px;
    right: 960px;
    height: 1px;
    background-color: #515151;
    z-index: 1;
}

.banner_title{
    direction: ltr;
    position: absolute;
    top: 270px;
    left: 159px;
    right:944px;
    color: #FFF;
    font-size: 7rem;
}

.header_logo{
    position: absolute;
    top: 248px;
    right: 324px;
}