.banner{
    background-image: url('../../assets/images/banner.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(27,27,27,0.01) 100%); 
    height: 550px;
    width: 100%;
    color: #FFF;
    padding: 0 133px;
}

.address_container{
    display: flex;
}
.header_number{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background-color: #FF0000;
    font-size: 2.5rem;
    padding: 0 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.header_number__icon{
    /* font-size: 6rem; */
    width: 51px;
    height: 51px;
}

.header_number span{
    display: block;
    font-weight: bold;
    /* padding: 10px 0; */
}

.header_address{
    font-size: 1.9rem;
    line-height: 66px;
    margin-top: 14px;
    margin-right: 77px;
}

.header_line{
    position: absolute;
    top: 80px;
    right: 133px;
    left: 133px;
    height: 1px;
    background-color: #515151;
}

.navbar{
    position: absolute;
    left: 133px;
    width: 1260px;
    color: #FFF;
    font-size: 2.5rem;
}

.navbar ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    list-style: none;
}

.navbar li{
    border-right: 1px solid #FFF;
    padding-right: 70px;
}

.link{
    color: #FFF;
    text-decoration: none;
}

.navbar li:last-child{
    border: 0;
}

.header_line__two{
    position: absolute;
    top: 250px;
    left: 158px;
    right: 960px;
    height: 1px;
    background-color: #515151;
    z-index: 1;
}

.banner_title{
    position: absolute;
    left:159px;
    direction: ltr;
    margin-top: 166px;
    width: 818px;
    color: #FFF;
    font-size: 7rem;
}

.header_logo{
    margin-top: 100px;
    margin-right: 191px;
}

.explore{
    color: #FFF;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.explore_icon{
    font-size: 9rem;
    margin-top: 10px;
}